.ROW{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 52px;
}

.cardBtn{
    background-color: black;
}

.prise{
    font-weight: 500;
}

.productHeader{
    /* text-align: start;
    transform: translate(0, 32px);
    font-size: 25px;
    margin-left: 167px; */

    text-align: start;
    font-size: 31px;
    margin-left: 146px;
    padding-top: 28px;
}

.COLL{
    margin-left: -36px;
    padding: 0px;
    box-sizing: border-box;
    


     
}